
body{
margin:0;
font-family:Arial;
background:#f5f6fa;
color:#1b1f3b;
}

.app{
display:flex;
min-height:100vh;
}

aside{
width:240px;
background:#2e5eaa;
color:white;
padding:20px;
}

aside a{
display:block;
color:white;
text-decoration:none;
padding:12px;
}

section{
flex:1;
}

header{
background:white;
padding:20px;
}

main{
padding:25px;
}

.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
border-radius:10px;
width:180px;
}

.card strong{
font-size:32px;
}

table{
width:100%;
background:white;
margin-top:20px;
border-collapse:collapse;
}

td,th{
padding:12px;
border-bottom:1px solid #ddd;
}

.badge{
padding:6px 10px;
border-radius:10px;
}

.disponible{
background:#b7e4c7;
}

.prestado{
background:#90caf9;
}

.mantenimiento{
background:#ffcc80;
}

.login{
width:350px;
margin:100px auto;
display:flex;
flex-direction:column;
gap:15px;
}

input,button{
padding:12px;
}

.modal{
position:fixed;
background:#0008;
inset:0;
}

.modal-box{
background:white;
padding:30px;
margin:100px auto;
width:400px;
}

@media(max-width:700px){
.app{
flex-direction:column;
}
aside{
width:auto;
}
.cards{
flex-direction:column;
}
}
